.App {
  font-family: sans-serif;
  text-align: center;
  background-color: green;
}

/* h1 p {
  color: #ffffff;
} */

/* .grid-container {
  text-align: center;
  padding: 20px 0;
} */

/* .ul-items {
  display: grid;
  grid: 100px / auto auto;
  grid-gap: 10px;
  padding: 20px;
} */

nav {
  justify-content: space-around;
  align-items: auto;
  height: 100px;
  background: #1e1e1e;
  color: #ffffff;
  text-align: center;
  border: green solid 7px;
}

.nav-links {
  width: 100%;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  color: #fff;
}


.char {
  width: 468px;
  height: 190px;
  list-style: none;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  margin: 22px;
}

.char img {
  width: 141px;
  height: 190px;
  float: left;
}

/* .char p {
  font-size: 30px;
  color: black;
  font-size: 30px;
  padding: 52px 0px 0px 50px;
  text-decoration: none;
  } */